<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bookmark Manager</title>
  </head>
  <body>
    <h1>THE BOOKMARK MANAGER</h1>
    <hr>
    <br>
    <br>
    <form action='/add_link' method='POST'>
      <p>ADD A NEW LINK</p>
      <input type="text" name="new_link">
      <input type="submit" value="Add Link">
    </form>
    <% if invalid_link %>
      <p>Please enter a valid url</p>
    <% end %>
    <br>
    <br>
    <p><%@links_db.each do |link|%>
      <%=link%><br>
    <%end%></p>
  </body>
</html>
