<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bookmark Manager</title>
  </head>
  <body>
    <p><%@link_db.each do |link|%>
      <%=link%><br>
    <%end%></p>
  </body>
</html>
